@media only screen and (min-device-width: 375px) {

    :root {
        --verydarkblue: hsl(217, 19%, 35%);
        --darkblue: hsl(214, 17%, 51%);
        --blue: hsl(212, 23%, 69%);
        --blue_transparent: hsla(212, 23%, 69%, 0.3);
        --transparent: hsla(212, 23%, 69%, 0);
        --lightblue: hsl(210, 46%, 95%);
        --white: rgb(255, 255, 255);
      }

    body {
        width: 100%;
        font-size: 13px;
        font-weight: 500;
        color: var(--verydarkblue);
        font-family: 'Manrope', sans-serif;
        background-color: var(--lightblue);
        padding: 0;
        margin: 0;
        line-height: 1.5;
    }

    .teaser {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 300px;
        width: 720px; 
        height: 300px;
        border: 0px solid;
        background-color: white;
        border-radius: 10px;
        box-shadow: 25px 25px 70px var(--blue_transparent);
    }

    /*------BILDER------*/

    .teaserimage {
        padding: 0px;
        margin: 0px;
        width: 300px;
        height: 300px;
        border-radius: 10px;
    }

    .teaserimage img {
        border-radius: 10px 0 0 10px;
        display: inline-block;
    }

    .avatar {
        padding: 0px;
        margin: 0px;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        padding-right: 15px;
    }

    .avatar img {
        border-radius: 100%;
        display: inline-block;
    }

    .share {
        order: 2;
        width: 30px;
        height: 30px;
        padding: 0px;
        margin: 0px;
        border-radius: 100%;
        background-color: var(--lightblue);
    }

    .share img {
        position: relative;
        top: 6px;
        left: 9px;
    }

    /*------CONTENT------*/

    .teasercontent {
        display: inline-block;
        margin: 30px;
    }

    /*------TEXT------*/

    p {
        color: var(--blue);
    }

    h2 {
        font-size: 20px;
        margin: 0;
        font-weight: 500;
    }

    h4 {
        font-size: 13px;
        margin: 0;
        padding: 0;
        font-weight: 500;
    }

    .attribution {
        display: none;
    }

    /*-----CONTAINER-----*/

    .container_avatar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .container_beschriftung p {
        order: 1;
    }


    .container_beschriftung p {
        margin: 3px 0 0 0;
        padding: 0; 
    }

    .container_mit_share {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
    }

    /*-----LINKS-----*/

    a {
        list-style-type: none;
        padding: 0 15px 0 0;
    }

    .container_share-link {
        position: relative;
    }

    .container_share-link:hover .share_popup {
        display: flex;
        justify-content: center;
        padding-right: 15px;
    }

    .share_popup p {
        order: 1;
        width: 30px;
        white-space: nowrap;
        padding-top: 3px;
        padding-left: 0px;
    }

    .share_popup .facebook {
        order: 2;
        padding-top: 5px;
        padding-left: 15px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .share_popup .twitter {
        order: 3;
        padding-top: 5px;
        padding-left: 15px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .share_popup .pinterest {
        order: 4;
        padding-top: 5px;
        padding-left: 15px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .container_share-link .share_popup {
        position: absolute;
        top: -85px;
        left: 50%;
        width: 200px;
        height: 50px;
        background: var(--verydarkblue);
        transform: translateX(-50%);
        border-radius: 10px;
        display: none;
    }

    .share_popup .share {
        order: 2;
        width: 30px;
        height: 30px;
        padding: 0px;
        margin: 0px;
        border-radius: 100%;
        position: relative;
        top: 85px;
        left: 30px;
        background-color: var(--darkblue);
    }

    .share_popup .share img {
        position: relative;
        top: 6px;
        left: 9px;
    }

    .dreieck {
        background: var(--verydarkblue); 
        height: 20px;
        width: 20px;
        position: absolute;
        top: 40px;
        left: 47%;
        transform: translateX(-50%) rotate(45deg);
    }
}

@media only screen and (min-device-width: 1440px) {
    

}